<!--
  Generated template for the ServicesTransportationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>JoBid</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
      <div class="imgCenter">
       <ion-icon name="contact" [ngClass]="dataService.class"></ion-icon> 
        </div>
      <div class="TituloRojo"><h4>{{subCategory}}</h4></div>
      <h4>Service information</h4>
      <p padding>Describes what the professional requires</p>
    <form id="formPayinfo" class="list" [formGroup]="ServiceTransportation">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-list>
              <ion-item>
              <ion-input type="number" placeholder="Maximum offer value" [(ngModel)]="maxOffer" formControlName="maxOffer" name="maxOffer"></ion-input>
              <ion-icon name="logo-usd" item-start></ion-icon>
              <input type="hidden" placeholder="Photography" [(ngModel)]="foto" formControlName="foto" name="foto" />
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-2 id="btn-camera">
            <button ion-button color="danger" outline (click)="camaraFoto()"><ion-icon name="camera"></ion-icon></button>
        </ion-col>
      </ion-row>
        <ion-row *ngIf="booleanDayVIPChofer">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="car" item-start></ion-icon>
                <ion-input type="text" placeholder="Car type" class="mitad"[(ngModel)]="carVip" formControlName="carVip" name="carVip"></ion-input>
                <ion-input type="number" placeholder="Hours" class="mitad" [(ngModel)]="timeVip" formControlName="timeVip" name="timeVip"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="booleanTaxi">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="car" item-start></ion-icon>
                <ion-input type="text" placeholder="Distance" class="mitad"[(ngModel)]="distanceTaxi" formControlName="distanceTaxi" name="distanceTaxi"></ion-input>
                <ion-input type="text" placeholder="Address" class="mitad" [(ngModel)]="addressTaxi" formControlName="addressTaxi" name="addressTaxi"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row> -->
        <ion-row *ngIf="booleanTaxi">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="pin" item-start></ion-icon>
                <ion-input type="text" placeholder="Start address" class="mitad"[(ngModel)]="addressIniTaxi" formControlName="addressIniTaxi" name="addressIniTaxi"></ion-input>
              </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="booleanTaxi">
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-icon name="pin" item-start></ion-icon>
                  <ion-input type="text" placeholder="Destination address" class="mitad" [(ngModel)]="addressFinTaxi" formControlName="addressFinTaxi" name="addressFinTaxi"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="booleanCarPool">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="car" item-start></ion-icon>
                <ion-input type="text" placeholder="Car type" [(ngModel)]="carPool" formControlName="carPool" name="carPool"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="booleanCarPool">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="car" item-start></ion-icon>
                <ion-input type="text" placeholder="# Passengers" class="mitad"[(ngModel)]="passePool" formControlName="passePool" name="passePool"></ion-input>
                <ion-input type="text" placeholder="Distance" class="mitad" [(ngModel)]="distancePool" formControlName="distancePool" name="distancePool"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="booleanMovingServices">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="pin" item-start></ion-icon>
                <ion-input type="text" placeholder="Delivery address" [(ngModel)]="deliveryAddressMovil" formControlName="deliveryAddressMovil" name="deliveryAddressMovil"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="booleanMovingServices">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="pin" item-start></ion-icon>
                <ion-input type="text" placeholder="Distance" [(ngModel)]="distanceMovil" formControlName="distanceMovil" name="distanceMovil"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="booleanMovingServices">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="cube" item-start></ion-icon>
                <ion-input type="number" placeholder="# boxes" class="mitad"[(ngModel)]="boxMovil" formControlName="boxMovil" name="boxMovil"></ion-input>
                <ion-input type="number" placeholder="# furniture" class="mitad" [(ngModel)]="furniMovil" formControlName="furniMovil" name="furniMovil"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="booleanDelivery">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="build" item-start></ion-icon>
                <ion-input type="text" placeholder="Object that is sent" class="mitad"[(ngModel)]="objDelivery" formControlName="objDelivery" name="objDelivery"></ion-input>
                <ion-input type="text" placeholder="Shipping Address" class="mitad" [(ngModel)]="addressDelivery" formControlName="addressDelivery" name="addressDelivery"></ion-input>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="rowArea"> 
          <ion-col>
            <ion-list><ion-item>
              <ion-icon name="paper" item-start></ion-icon>
              <ion-textarea type="text" placeholder="More information" [(ngModel)]="moreInformation" formControlName="moreInformation" name="moreInformation"></ion-textarea>
            </ion-item></ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> 
            <div class="btnBottom">
              <button ion-button color="danger" block icon-left (click)="goCleaningSale()" [disabled]="!ServiceTransportation.valid">
                Go to the bid<ion-icon name="arrow-dropright"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    </ion-content>