page-cleaning-ok {
    img {
        width: 100%;
        height: 250px;
    }
    .centrarIcon {
        width: 100%;
        ion-icon.icon-ok {
            font-size: 8em;
            color: $Green;
            margin: 60px auto;
            width: 90px;
            display: block;
        }
    }
    p {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .btnBottom {
        margin-top: 40px;
    }
}