<!--
  Generated template for the CleaningInfoServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>JoBid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<!-- <img src="assets/img/map.png" class="imageFull"> -->
<div class="mapa">
  <agm-map [latitude]="Userlat" [longitude]="Userlng" [zoom]="zom">
    <agm-marker style="z-index:9;"
      [latitude]="providerLatitud"
      [longitude]="providerLongitud" >
    </agm-marker>
  </agm-map>
</div>
<div class="barraGris">
	<h4>Service information</h4>
</div>
<h3>Service code: #{{serviceCode}}</h3>
<p class="textoCentrado">State</p>
<h6 id="estadoServicio">{{status}}</h6>
<div padding>
	<p><span class="textRed">*Amount to be paid: </span>${{sale}}</p>
	<p><span class="textRed">Description:</span></p>
	<p>{{information}}</p>
	<div class="space"></div>
	<p><span class="textRed">Professional data</span></p>
	<ion-grid>
	<ion-row>
	  <ion-col col-5>
	    <ion-list>
	    	<ion-item>
	      	<ion-avatar>
			      <img src="{{ImgJobr}}">
			    </ion-avatar>
		  	</ion-item>
			</ion-list>
	  </ion-col>
	  <ion-col col-7>
	  	<ion-row>
	  		<ion-col>
					<h4>{{nameJobr}}</h4>
					<p class="Calificacion Usuario {{starJobr}}">
							<label for="radio1">&#9733;</label>
							<label for="radio2">&#9733;</label>
							<label for="radio3">&#9733;</label>
							<label for="radio4">&#9733;</label>
							<label for="radio5">&#9733;</label>
						</p>
	  			<!-- <img src="assets/img/Estrellas.png" alt=""> -->
	  		</ion-col>
	  	</ion-row>	
			<ion-row>	
					<ion-col col-6 *ngIf="certificateJobr">
						<ion-list><ion-item>
							<ion-label>Certificate</ion-label>
							<ion-radio checked="true" value="Certificate"></ion-radio>
						</ion-item></ion-list>
					</ion-col>
					<ion-col col-6 *ngIf="insuranceJobr">
						<ion-list>
							 <ion-item>
								<ion-label>Insurance</ion-label>
								<ion-radio checked="true" value="Insurance"></ion-radio>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>	
			</ion-col>
		</ion-row>
</ion-grid>
</div>

<!-- <div class="btnBottom">
	<button id="verifyYourPhone-button6" ion-button block color="danger" (click)="goCleaningVote()">Continue <ion-icon name="arrow-dropright"></ion-icon></button>
</div> -->

</ion-content>
