page-show {
    .gridProfession {
        /*border-top: 1px solid #eee;
		background-color: #f4f4f4;*/
        .row>p {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
            white-space: normal;
            height: 30px;
        }
        .button-md-light,
        .button-ios-light {
            box-shadow: none;
            margin: 0;
            background: transparent;
            height: 150px;
            padding: 0;
            .grid {
                padding: 0;
                img {
                    max-width: 100%;
                    height: 90px;
                    border: 0;
                    margin: 2px auto;
                    width: 90px;
                }
            }
        }
        ion-icon {
            display: block;
            margin: 0 auto;
            font-size: 100px;
        }
    }
    h3,
    p {
        text-align: center;
    }
    h3,
    strong {
        font-weight: bold;
    } // .mapa{
    // 	// height: 400px;
    // 	// background: blue;
    // 	agm-map{
    // 		width: 100%;
    // 		height: 300px;
    // 		background: orange;
    // 	}
    // }
}