page-show {
	.gridProfession{
		border-top: 1px solid #eee;
		background-color: #f4f4f4;
		.row>p{
			margin:0;
			padding:0;
			width: 100%;
			text-align: center;
		}
		.button-md-light,.button-ios-light{
			box-shadow: none;
			background: transparent;
			height: 10em;
		}
		ion-icon{
			display: block;
			margin:0 auto;
			font-size: 8em;
		}
	}
}
