page-singup {
	img{display: block; width: 100%; height: 200px; margin-left: auto; margin-right: auto;}
	#signup-heading2{color:#000000;text-align:center;}
	.force-back-button .back-button {
	  display: inline-block;
	}
	ion-list ion-grid.grid{ padding:0; 
		.col{padding:0;
			&:first-child{ padding-right:5px; }
		}
	}
}
